@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/**
 * Layout
 */
.nav__list {
    margin: 0;
    padding: 0;
    display:inline;
}
.nav__list a {
    padding: .75em 1.5em;
    transition: all .25s ease-in-out;
    display:inline-block;
}

.nav__list__item {
    border-width: 0 0 1px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;

}
.nav__list__item,
.nav__list__item a {
    display: block;
}

/**
 * Desktop-view
 */

@media screen and (min-width: 1024px) {
    .nav__list > .nav__list__item {
        border-width: 0 1px 0 0;
    }
    .nav__list > .nav__list__item,
    .nav__list > .nav__list__item a {
        display: inline-block;
    }
}

/**
 * Presentation
 */
.nav {
    background-color: #f5f5f5;
    text-align:center;
}
.nav .nav__list__item {
    border-color: #e5e5e5;
}
.nav a {
    color: #555;
    text-decoration: none;
}
.nav a:hover, .nav a:active, .nav a:focus {
    background-color: #e5e5e5;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   height:auto;
   margin: auto;
   text-align:center;
}

h2 { 
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
}

h2 span { 
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}