body {
     /*background: url(../img/img.jpg);*/
     background-size: 100%;
     background-repeat: no-repeat;
}

h1 {
    color: black;
    text-align: left;
    font-size: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

p {
    color: black;
    text-align: center;
}