@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Raleway);*/
/**
 * Layout
 */
.nav__list {
    margin: 0;
    padding: 0;
    display:inline;
}
.nav__list a {
    padding: .75em 1.5em;
    transition: all .25s ease-in-out;
    display:inline-block;
}

.nav__list__item {
    border-width: 0 0 1px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;

}
.nav__list__item,
.nav__list__item a {
    display: block;
}

/**
 * Desktop-view
 */

@media screen and (min-width: 768px) {
    .nav__list > .nav__list__item {
        border-width: 0 1px 0 0;
    }
    .nav__list > .nav__list__item,
    .nav__list > .nav__list__item a {
        display: inline-block;
    }
}

/**
 * Presentation
 */
.nav {
    background-color: #f5f5f5;
    text-align:center;
}
.nav .nav__list__item {
    border-color: #e5e5e5;
}
.nav a {
    color: #555;
    text-decoration: none;
}
.nav a:hover, .nav a:active, .nav a:focus {
    background-color: #e5e5e5;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   height:auto;
   margin: auto;
   text-align:center;
}

.w3-animate-fading {
    animation: fading 5s infinite;
}

@keyframes fading{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

h2 { 
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
}

h2 span { 
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

div.welcome {
    /*background: black;*/
    width:768px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
}

h3 {
  font: 400 50px/0.8 'Lato', sans-serif;
  color: #555;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  text-align: center;
}

p3 {
  font: 400 21px/0.8 'Lato', sans-serif;
  color: #555;
  text-align: center;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
    h2 span {
        font-size: 10.0vh;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    }
    h3 {
        font-size: 4.0vh;
        display: inline-block;
        height:auto;
        /*margin: auto;*/
       }
    div.welcome {
       /*background: black;*/
       width:100%;
       margin: 0 auto;
       text-align: center;
       border: 1px solid green;
    }
    p3{
        font-size: 2.0vh;
    }
}

@media only screen and (max-width: 500px) {
    h2 span {
        font-size: 6.0vh;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }
    h3 {
        font-size: 3.5vh;
        display: inline-block;
        height:auto;
        /*margin: auto;*/
       }
    div.welcome {
       /*background: black;*/
       width:100%;
       margin: 0 auto;
       text-align: center;
       border: 1px solid blue;
    }
    p3{
        font-size: 1.8vh;
    }
}